language: node_js
sudo: false
node_js:
- '8'
- '9'
- '10'
- '11'
- '12'
- '13'
- '14'
- '15'
- '16'
- '17'
branches:
  except:
  - master
  - "/^release\\/.*$/"
  - "/^hotfix\\/.*$/"
  - "/^feature\\/.*$/"
  - "/^support\\/.*$/"
script:
- npm test
deploy:
  provider: npm
  email: developer@xbranch.io
  skip_cleanup: true
  api_key:
    secure: s+8voGLvDa0xgTLiCxMsUu0tbhPZt1dSWjKvNIaXZgWwzjYzxsB5Zdfs9JQUrxWrfOGLVMaDwMh9JHtApH18TBRqks8ilq3pNw8QEZmbP6YfcVlHV4ac/+NPtxJ9HfAUgS4tFYZI0Q88RebMef6DBCZXKmtYxrN03wPmcwkov7VYlTLY6kJfknQWd8Shd86luZDdZYNtKDe9C+ehfWr6nmLtIjGtFGnNqMzW+k5Lp8Yklgcza743PqeLgnJ7qOWQRy1ZLitbS2q/2D+zZ2xm1MUhgR2p9k2BK7hdBLUw/g2Xv2bouHCi57dP8N6PeNTRLunIWXDdDBtv5FimiYKktRR6ptHitUTQUmp7y5qYDrkqBqVNCcW8QRuPJ5+CmGaH/HYHXbyuvlTVjDBNkZmVCEicPLrnW5/pwLQ6xYasd8oHEO8uEd8E8deheWI8o1Xh28ZPPT5OkazWvfe81X5oP32GA6jNeZGFiiT3MUhea4D4Btos2xfsp1oK6zVRRWnm4FokOThedmgw7B0n+OEESA7LX4jIZ3saLoMbKtAYWer174QVxWMSnpb9SUD39TeorJvqW6lhKtdomkXLtUrVkPQyNZNgK7tVYvZT+1zAWpu/iAeeAXOmpfy/DV8uY9/c9hIpy6Ar1aSyOguNtZK9+KvJx/C+xxveuxVfvwCrXh0=
  on:
    tags: true
    repo: xbranch/ngitflow
    node: '8'
